.intro{
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro_home{
    margin-top: 200px;
    width:350px;
}
.intro_text {
    border: 3px solid black;
    padding: 10px 55px 10px 50px;
    margin-top: -25px;
    font-weight: 350;
    font-size: 1.5rem;
    text-align: center;
    transition: all 0.5s ease;
    border-radius: 30px;
}
.intro_text:hover{
    color:white;
    background-color: #ca5e5e;
    border: 3px solid #ca5e5e;
}