@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
  overflow: scroll;
  font-family: 'Montserrat', sans-serif;
}
body{
  background:var(--pBody);
  color:var(--pText);
  transition: all 0.25s linear;
}
p{
  color:var(--pText);
}
h3 a{
  color: var(--pText);
}
h4{
  color:var(--pText);
}
h1{
  color:var(--pText);
}
::-webkit-scrollbar{
  width:0px;
  background: transparent;
}
.scrollbar-hidden::-webkit-scrollbar{
  display: none;
}
.scrollbar-hidden{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
:root{
  --pBody: #FAFAFA;
  --pText: #000;
  --btnColor: #363537;
};
